services:

  mysql:
    image: mysql:8.4
    container_name: mysql_inventory
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventorydb
      MYSQL_USER: inventory
      MYSQL_PASSWORD: inventory123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: inventory_backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/inventorydb
      SPRING_DATASOURCE_USERNAME: inventory
      SPRING_DATASOURCE_PASSWORD: inventory123
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: inventory_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mysql_data: